<!DOCTYPE html>
<html>
  <head>
    <title>Yeetsy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.cat_clothes = "<%= image_url('cat_clothes.jpg') %>";
      window.cat_decorations = "<%= image_url('cat_decorations.jpg') %>";
      window.cat_jewelry = "<%= image_url('cat_jewelry.jpg') %>";
      window.cat_sale = "<%= image_url('cat_sale.jpg') %>";
      window.cat_skincare = "<%= image_url('cat_skincare.png') %>";
      window.cat_halloween = "<%= image_url('cat_halloween.jpg') %>";

      window.clothesURL = "<%= image_url('clothes.jpg') %>";


      window.americanExpress = "<%= image_url('american_express.png') %>";
      window.discover = "<%= image_url('discover.jpg') %>";
      window.klarna = "<%= image_url('klarna.jpg') %>";
      window.mastercard = "<%= image_url('mastercard.png') %>";
      window.paypal = "<%= image_url('paypal.jpg') %>";
      window.visa = "<%= image_url('visa.jpg') %>";

      window.united_states = "<%= image_url('united_states.png') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
